import * as S from './styles'
import React from 'react'

import { I{{pascalCase name}}Props } from './{{camelCase name}}'

const {{pascalCase name}} = ({ default }: I{{pascalCase name}}Props) => (
  <S.{{pascalCase name}}Wrapper data-component-{{dashCase name}}>
    <h1>{{dashCase name}}</h1>
  </S.{{pascalCase name}}Wrapper>
)

export default {{pascalCase name}}
