import * as S from './styles'
import React from 'react'

import { I{{pascalCase name}}Props } from './{{camelCase name}}'

const {{pascalCase name}} = ({ default }: I{{pascalCase name}}Props) => (
  <S.Wrapper>
    <h1>{{pascalCase name}}</h1>
  </S.Wrapper>
)

export default {{pascalCase name}}
